<amp-story-page id="<%= id %>">
  <% if(card.image.data.file.url){ %>
  <amp-story-grid-layer template="fill">
    <amp-img src="<%= card.image.data.file.url %>"
        width="900" height="1600">
    </amp-img>
  </amp-story-grid-layer>
  <amp-story-grid-layer template="fill">
    <div class="card-overlay"></div>
  </amp-story-grid-layer>
  <% } %>
  <amp-story-grid-layer template="thirds">
    <div grid-area="upper-third" class="image-overlay center-text">
      <p class="quote__name"><%= card.attribution %></p>
      <p class="quote__label"><%= card.attributionDescription %></p>
      <h2 class="card-heading font-xxl"><%= card.quote %></h2>
    </div>
  </amp-story-grid-layer>
</amp-story-page>