<amp-story-page id="<%= id %>">
  <amp-story-grid-layer template="vertical" class="<%= card.theme %>">
    <% if(card.gif){ %>
    <amp-anim width="<%= card.gif.width %>"
      height="<%= card.gif.height %>"
      src="<%= card.gif.mediaUrl %>"
      alt="<%= card.description %>"
      attribution="<%= card.attribution %>">
    </amp-anim>
    <% } %>
    <div>
      <h2><%= card.headline %></h2>
      <p><%= card.description %></p>
    </div>
  </amp-story-grid-layer>

</amp-story-page>